.message-side
  .side-text
    .side-text__group
    - current_user.groups.each do |group|
      = link_to '#' do
        .side-text__group__name
          Group name
        .side-text__group__nm
          = "#{group.name}"
        .side-text__group__message
          NO message
    .side-text__new
      = link_to "New group",  new_group_path
    .side-text__edit
      = link_to "Edit group", edit_group_path(current_user)
    .side-text__out
      = link_to "Log out", destroy_user_session_path, method: :delete